.search-box {
	padding: 0 20px;
	margin: 40px auto;
	max-width: 560px;
	overflow: hidden;

	&__input {
		padding: 10px 20px;
		margin: 0;
		top: 2px;
		left: 0;
		width: 100%;
		background-color: #F1F3F4;
		border: none;
		border-radius: 22px;
		bottom: 0;
		box-sizing: border-box;
		outline: none;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
	}
}
