.search-box {
	position: relative;
	padding: 0 20px;
	margin: 40px auto;
	width: 100%;
	max-width: 560px;
	overflow: hidden;

	@media screen and (max-width: 480px){
		width: 80%;
	}

	&__input {
		padding: 10px 20px;
		margin: 0;
		top: 5px;
		left: 0;
		width: 100%;
		background-color: #F1F3F4;
		border: none;
		border-radius: 22px;
		bottom: 0;
		box-sizing: border-box;
		outline: none;
		font-size: 16px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
	}

	&__button {
		position: absolute;
		right: 37px;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		text-align: right;
		padding: 5.5px 0;
		cursor: pointer;
		background-color: #F1F3F4;
		border: none;
		outline: none;
		box-shadow: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		.material-icons {
			vertical-align: middle;
		}
	}
}
